{% extends 'index.html' %}
{% block title %}Resume{% endblock title %}

{% block content %}
    <form autocomplete="off" method="POST" id="resume_form">
        <label class="form-label" for="Resume">Resume</label>
        <input class="form-control" id="Resume" type="file" required>
    </form>
{% endblock content %}

{% block javascript %}
    <script>
        $(document).on('submit', '#resume_form', function (e){
            e.preventDefault();

            if($('#resume_form').valid()){
                const formdata = new FormData($('#resume_form')[0]);
                const form = Object.fromEntries(formdata.entries());
                console.log(form);

                $.ajax({
                    type: 'POST',
                    url: '/resume',
                    data: JSON.stringify(form),
                    dataType: 'application/json',

                })
            }
        });
    </script>
{% endblock javascript %}